<%= form_for(@post) do |f| %>
  <label>My post title:</label><br>
  <%= f.text_field :title %><br>
  <label>Post Description</label><br>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>

<!-- <%= form_tag posts_path do %>
<label>Title</label>
<%= text_field_tag :'post[title]' %>
<br>

<label>Description</label>
<%= text_field_tag :'post[description]' %>
<br>

<%= submit_tag "Create Post" %>
<% end %> -->